AIRFLOW_UID=50000
AIRFLOW_IMAGE_NAME=indian-weather-airflow:latest

WEATHER_DB_HOST=weather-postgres
WEATHER_DB_PORT=5432
WEATHER_DB_NAME=your_database_name
WEATHER_DB_USER=your_database_user
WEATHER_DB_PASSWORD=your_database_password